<h1>Contact</h1>
<p>Smith Carpenter</p>
<p>901-999-9999</p>
<p>shedmaster@mysheds.com</p>
<button type=button style='button'><%= link_to 'Home', work_path%></button><br>
<button type=button><%= link_to 'Work', work_path%></button><br>
<button type=button><%= link_to 'About', about_path%></button><br>