
<h1>Portfolio</h1>
<p>I have created over 55 sheds within the last 5 years</p>
<p>
    <ul>Some of my greatest works:
    <li>The Great Shed of Giza</li>
    <li>THe Shed of Liberty</li>
    <li>The Eiffel Shed</li>
    </ul>
</p>
<%= image_tag 'portfolio.jpg' %><br>
<button type=button style='button'><%= link_to 'Home', work_path%></button><br>
<button type=button><%= link_to 'About', about_path%></button><br>
<button type=button><%= link_to 'Contact', contact_path%></button>